@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>

    <style>

    </style>

    <script>
        window.onload = function () {
            setCookie("username", "qwerty");
            console.log("cookle: " + getCookie("username"));
        }

        function setCookie(key, value, t) {
            var oDate = new Date();
            oDate.setDate(oDate.getDate() + t);
            document.cookie = key + '=' + value + ';expires=' + oDate.toGMTString();
        }

        function getCookie(key) {
            var arr1 = document.cookie.split('; ');
            for (var i = 0; i < arr1.length; i++) {
                var arr2 = arr1[i].split('=');
                if (arr2[0] == key) {
                    return decodeURI(arr2[1]);
                }
            }
        }


    </script>

</head>

<body>


    <div class="jumbotron">
        <h1>Bing 航班预订</h1>
        <p class="lead">搜索航班是一个耗时的过程，人们经常需要在各种网站上搜索相同的信息以找到自己最心仪的价格。为了简化这一过程，微软今天宣布在Bing上推出一种全新的机票预订体验。现在，Bing已经跟数个航班预订网站合作，以此来帮助消费者在一个地方就能对航班搜索做出决定。</p>
        <p><a href="../Flights/Index" class="btn btn-primary btn-lg">Booking Now &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>世界领先的全球分销系统</h2>
            <p>
                Bing通过利用世界领先的全球分销系统的实时数据并通过跟顶级航空公司的直接整合确保用户获得无缝体验，在一个地方完成从搜索、比较航班到预订所有流程。
            </p>
            <p><a class="btn btn-default" href="https://cn.bing.com/search?q=bing%20flights&qs=n&form=QBRE&sp=-1&pq=bing%20flights&sc=6-12&sk=&cvid=12F3394E1F1D4AA2BF754A39759AC0C1">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>航班搜索</h2>
            <p>打个比方，如果搜索“从西雅图到波特兰的航班”，用户将会看到一个航班选项列表和价格。当点击其中一个航班选项，Bing就会给出一个深度搜索页面，上面有过滤选项,用户可以根据停留的次数、航空公司、出发和到达时间以及价格快速缩小选择范围并最终锁定自己所要选择的航班</p>
            <p><a class="btn btn-default" href="https://cn.bing.com/search?q=bing%20flights&qs=n&form=QBRE&sp=-1&pq=bing%20flights&sc=6-12&sk=&cvid=12F3394E1F1D4AA2BF754A39759AC0C1">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>技术支持</h2>
            <p>该项目主要是由BingUX支持，而ASP.NET MVC是主要的framework</p>
            <p><a class="btn btn-default" href="https://docs.microsoft.com/zh-cn/aspnet/mvc/">Learn more &raquo;</a></p>
        </div>
    </div>


</body>

</html>
