<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>register</title>

</head>
<body>

    <div id="center">
        <form name="myform" onSubmit="return validateform()" enctype="multipart/form-data" action="Register" method="post">
            <div class="input-group">
                Username:<input class="form-control" id="UserName" name="UserName" type="text" style="height:20px" value="" />
            </div>
            <div class="input-group">
                Password:<input class="form-control" id="UserPwd" name="UserPwd" type="password" style="height:20px" value="" />
            </div>

            <div id="btn">
                <input class="btn btn-primary" name="registerButton" id="Button" type="submit" value="register">
            </div>
        </form>
    </div>

</body>
</html>